table inet podhaus {
  chain input {
    type filter hook input priority -10; policy accept;
    ct state established,related accept
    iifname "lo" accept
    ip protocol icmp accept
    ip daddr {{ podhaus_numbat_application_ipv4 }} tcp dport { 22, 80, 443 } accept
    ip daddr {{ podhaus_numbat_relay_ipv4 }} tcp dport { 22, 443, 2333 } accept
    ip daddr { {{ podhaus_numbat_application_ipv4 }}, {{ podhaus_numbat_relay_ipv4 }} } drop
  }
}
