<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>haus.podhaus.orbstack</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/orb</string>
    <string>start</string>
  </array>
  <key>UserName</key>
  <string>{{ podhaus_operator }}</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>/Users/{{ podhaus_operator }}</string>
    <key>PATH</key>
    <string>{{ podhaus_orbstack_path }}</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <integer>60</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>/Users/{{ podhaus_operator }}/Library/Logs/podhaus-orbstack.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/{{ podhaus_operator }}/Library/Logs/podhaus-orbstack.log</string>
</dict>
</plist>
